<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FantasySiLk</title>
</head>
<body>
    <h1>Fantasy SiLk</h1>
    <nav>
        <a href="/create">Create a PLayer</a>
    </nav>
    <h2>Player Database</h2>
    <ul>
        <% players.forEach(player => { %>
            <table>
            <tr>
                <td> <a href="/player/<%=player._id%>"><%= player.Name %></a></td>
            <td> <%= player.Position %></td>
            </tr>
            </table>
            <% }) %>
    </ul>
    <a href="/team">Create a Team</a>
</body>
</html>