body {
    color: white;
    background-image: linear-gradient(to right, #122d4a, #3d8ce0);
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
}

#header {
    display:flex;
    align-items: center;
    font-size: xxx-large;
}

#second {
    font-family: 'Whisper', cursive;
    size: 600;
}

nav {
    display: flex;
    justify-content: space-between;
    border:3px solid rgba(180, 173, 204, 0.3);
    min-width: 700px;
}
#name {
    font-size: xxx-large;
}
#stats {
    display:inline-block;
}

#position {
    font-size: xxx-large;
}
a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover {
    opacity: 30%;
}