body {
    color: white;
    background-image: linear-gradient(to right, #122d4a, #3d8ce0);
    display: flex;
    font-family: 'Bebas Neue', cursive;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    display:flex;
    align-items: center;
    font-size: xxx-large;
}

#second {
    font-family: 'Whisper', cursive;
    size: 600;
}
nav {
    display: flex;
    justify-content: space-between;
    border:3px solid rgba(180, 173, 204, 0.3);
    min-width: 400px;
    padding: 5px;
    
}

h3 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
}

#name {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: xx-large;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover {
    opacity: 30%;
}